body {
    background-color: #101111;
    color: #d3d5d6;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
}
.shadow{
    text-shadow: 1px 1px black;
}
.guesses{
    display: flex;
    justify-content: center;
    color: #797B84;
}
#newGame{
    border-radius: 25%;
    margin-top: 0em;
    margin-bottom: .5em;
}
#top{
    font-family:"Press Start 2P", "Helvetica Neue", sans-serif;
    font-size: 3em;
    color: #14BDEB;
}
.thin{
    margin-bottom: -1em;
}
h3{
    color: #14BDEB;
    font-family:"Press Start 2P", "Helvetica Neue", sans-serif;
}
button{
    color: #FFFAFB;
    background-color: #7a7265;
    border-radius: 25%;
    transition-duration: .5s;
}
button:hover{
    background-color: #2c2626;
    color: #14BDEB;
    cursor: pointer;
}
#link{
    color: aliceblue;
}
.otherColors{
    margin-top: -0.5em;
    margin-bottom: 0em;
}
#isHardMode{
    margin-bottom: -0.5em;
}
.notes{
    /*background: transparent;*/
    background-color: #202020;
    border: #080708;
    color: #FFFAFB;
    padding: 2em;
}
.colorGuess{
    border:#080708;
    background-color: #101010;
    color: #FFFAFB;
}
.inputs{
    padding: 0.3em;
}
.red{
    color: #ff2e00;
}
.lime{
    color: #78fc6a;
}
.tan{
    color: #c7aa74;
}
.white{
    color: #fffaff;
}
.yellow{
    color: #f3de2c;
}
.pink{
    color: #ef476f;
}
.cyan{
    color: #05c8cc;
}
.green{
    color: #034c3c;
}
.brown{
    color: #582b11;
}
.grey{
    color: #808080;
}
.olive{
    color: #808000;
}
.orange{
    color: #fe7f2d;
}
.purple{
    color: #7b1e7a;
}
.blue{
    color: #3772ff;
}
#done, #submit{
    margin-top: 1em;
}